*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# IDEs
.idea/
.vscode/

# Build and release binaries
*.aab
*.apk
app bundle/

# Tooling and compiler temp files
.kiro/
.kotlin/

